<div>

    <div class="container">
        <form >
            <div class="card">
                <div class="card-header" style="background-color: rgb(161, 85, 231);">
                    <h1>Bienvenue sur R & R</h1>
                </div>
                <div class="card-body" style="background-color: violet">
                    <div class="row">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <input type="submit" value="Connexion" (click)="connexion()" />
                                <input type="submit" value="Inscription" (click)="inscription()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-formulaire-accueil></app-formulaire-accueil>
<router-outlet></router-outlet>